<section fxLayoutAlign="center">
  <mat-card>
    <form
       fxLayout="column"
       fxLayoutAlign="center center"
       fxLayoutGap="10px"
    >
      <mat-form-field>
        <mat-label>Ingrese E-Mail</mat-label>
        <input type="text" matInput placeholder="E-mail">
        <mat-error>Debe ingresar un E-Mail</mat-error>
      </mat-form-field>
      <mat-form-field>
       <mat-label>Ingrese Password</mat-label>
       <input type="password" matInput placeholder="Password">
       <mat-error>Debe ingresar un Password</mat-error>
     </mat-form-field>
     <button mat-raised-button color="primary" type="submit">Enviar</button>
    </form>
 </mat-card>

</section>
